*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font-family: 'Rubik', sans-serif;
    line-height: 1.2;
}

body {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 3.5rem;
}

h3 {
    color: slateblue;
    font-style: italic;
}

header {
    text-align: center;
    margin-top: 40px;
}

td {
    outline: 1px solid black;
    padding: 0;
    height: min-content;
    width: 15vw;
}

section.game {
    display: flex;
    width: 45vw;
    align-items: center;
    margin: 0 auto;
    flex-flow: column wrap;
    margin-top: 40px;
}

td img {
    max-width: 15vw;
    position: relative;
    z-index: -1;
}

td.hidden {
    background-color: rgba(128, 0, 0, 0.404);
}

button.win_btn {
    display: none;
}

button.win_btn.shown {
    display: block;
}
